---
import ListForm from '../components/ListForm.jsx';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<h2>but seriouslly...what am i doing</h2>
		<ListForm client:load />
	</main>
</Layout>

<style>

</style>
