---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div id="container">
			<slot />
		</div>
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: Helvetica, Arial, sans-serif, sans-serif;
		padding: 16px;
		background: rgb(148,38,196);
		background: linear-gradient(45deg, rgba(148,38,196,1) 0%, rgba(76,99,209,1) 35%, rgba(0,255,199,1) 100%);
		min-height: 100vh;
		font-size: 14px;
	}

	button {
		background-color: rgb(192, 226, 220);
		border-radius: 16px;
		font-size: 12px;
		padding: 4px 12px;
		border: 1px solid white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
